* {
    background-color: #000000;
  }
  h2 {
    text-align: center;
    margin-top: 5%;
    font-size: 70px;
    letter-spacing: 1px;
    color: #fff;
  }
  
  p {
    text-align: center;
    color: #fff;
    font-size: 40px;
  }
  
  .main_link {
    position: relative;
    margin-left: 45%;
    margin-top: 10%;
    padding: 10px 10px;
    color: #fff;
    width: 20%;
    font-size: 20px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .main_link:hover {
    border: 1px solid #fff;
    border-radius: 10px;
  }